body {
    background-color: rgb(182, 182, 154);
    padding-top: 30px;
}

h1 {
    text-align: center;
    font-size: 42px;
    color: rgb(155, 6, 6);
}
.buttonBox{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.buttonBox button {
    border-radius: 8px;
    font-size: 18px;
}

#mode {
    margin-top: 15px;
}

#container {
    width: 600px;
    height: 600px;
    border: black solid 1px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.row {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
}
.cell {
    border: black solid 1px;
    background-color: white;
    flex-grow: 1;
}
